Repository ut-issl/c2a-aobc, pull requests merged in 2024-01, with the labels that each got.

#251 GPSR BaudRate変更処理の訂正
  database/CMD_DB/AOBC_CMD_DB_CMD_DB.csv
  src/src_user/Applications/DriverInstances/di_oem7600.c
  src/src_user/Drivers/Aocs/oem7600.c
  src/src_user/Drivers/Aocs/oem7600.h
  src/src_user/TlmCmd/command_definitions.c
Labels: :airplane: priority::medium, :dolphin: minor update, :artificial_satellite: C2A

#249 BCのコピーをFRAMに取ることで不揮発化する
  C2A_AOBC.vcxproj
  database/CMD_DB/AOBC_CMD_DB_CMD_DB.csv
  database/CMD_DB/AOBC_CMD_DB_Utility.csv
  database/CmdPlan/AOBC_NON_VOLATILE_BC.ops
  database/TLM_DB/AOBC_TLM_DB_AOBC_NON_VOLATILE.csv
  database/TLM_DB/calced_data/AOBC_TLM_DB_AOBC_NON_VOLATILE.csv
  src/src_user/Applications/CMakeLists.txt
  src/src_user/Applications/UserDefined/Cdh/non_volatile_memory_bc.c
  src/src_user/Applications/UserDefined/Cdh/non_volatile_memory_bc.h
  src/src_user/Applications/UserDefined/Cdh/non_volatile_memory_manager.h
  src/src_user/Applications/app_headers.h
  src/src_user/Applications/app_registry.c
  src/src_user/Applications/app_registry.h
  src/src_user/Settings/Modes/TaskLists/Elements/tl_elem_cdh_update.c
  src/src_user/Settings/System/event_logger_group.h
  src/src_user/Settings/TlmCmd/block_command_table_params.h
  src/src_user/TlmCmd/command_definitions.c
  src/src_user/TlmCmd/command_definitions.h
  src/src_user/TlmCmd/telemetry_definitions.c
Labels: :airplane: priority::medium, :dolphin: minor update

#261 [Magnetic Control] Imprement magnetec exclusive control timer
  C2A_AOBC.vcxproj
  database/CMD_DB/AOBC_CMD_DB_CMD_DB.csv
  database/TLM_DB/AOBC_TLM_DB_AOBC_AOCS_MANAGER.csv
  database/TLM_DB/AOBC_TLM_DB_AOBC_COMPONENTS.csv
  database/TLM_DB/AOBC_TLM_DB_AOBC_CONTROL.csv
  database/TLM_DB/AOBC_TLM_DB_AOBC_HK_COMPO.csv
  database/TLM_DB/calced_data/AOBC_TLM_DB_AOBC_AOCS_MANAGER.csv
  database/TLM_DB/calced_data/AOBC_TLM_DB_AOBC_COMPONENTS.csv
  database/TLM_DB/calced_data/AOBC_TLM_DB_AOBC_CONTROL.csv
  database/TLM_DB/calced_data/AOBC_TLM_DB_AOBC_HK_COMPO.csv
  src/src_user/Applications/CMakeLists.txt
  src/src_user/Applications/DriverInstances/di_mtq_seiren.c
  src/src_user/Applications/DriverInstances/di_mtq_seiren.h
  src/src_user/Applications/UserDefined/AOCS/AttitudeControl/bdot.c
  src/src_user/Applications/UserDefined/AOCS/AttitudeControl/bdot.h
  src/src_user/Applications/UserDefined/AOCS/AttitudeControl/unloading.c
  src/src_user/Applications/UserDefined/AOCS/AttitudeDetermination/rough_three_axis_determination.c
  src/src_user/Applications/UserDefined/AOCS/ExclusiveControl/magnetic_exclusive_control_timer.c
  src/src_user/Applications/UserDefined/AOCS/ExclusiveControl/magnetic_exclusive_control_timer.h
  src/src_user/Applications/UserDefined/AOCS/HardwareDependent/ActuatorControllers/mtq_seiren_controller.c
  src/src_user/Applications/UserDefined/AOCS/HardwareDependent/ActuatorControllers/mtq_seiren_controller.h
  src/src_user/Applications/UserDefined/AOCS/HardwareDependent/SensorFilters/mpu9250_filter.c
  src/src_user/Applications/UserDefined/AOCS/HardwareDependent/SensorFilters/rm3100_filter.c
  src/src_user/Applications/UserDefined/AOCS/aocs_manager.c
  src/src_user/Applications/UserDefined/AOCS/aocs_manager.h
  src/src_user/Applications/app_headers.h
  src/src_user/Applications/app_registry.c
  src/src_user/Applications/app_registry.h
  src/src_user/Drivers/Aocs/mtq_seiren.c
  src/src_user/Drivers/Aocs/mtq_seiren.h
  src/src_user/Settings/Modes/TaskLists/Elements/tl_elem_mtq_update.c
  src/src_user/Settings/Modes/Transitions/sl_bdot.c
  src/src_user/Settings/Modes/Transitions/sl_rough_three_axis_rw.c
  src/src_user/Settings/SatelliteParameters/Sample/attitude_control_parameters.c
  src/src_user/Settings/SatelliteParameters/attitude_control_parameters.h
  src/src_user/TlmCmd/command_definitions.c
  src/src_user/TlmCmd/command_definitions.h
  src/src_user/TlmCmd/telemetry_definitions.c
Labels: :rocket: priority::high, :whale: major update
